<div class="text">
    <h1>Sobre comics...</h1><br>

    <p>El termino comic se usa para describir relatos graficos que se presentan a base de dibujos encuadrados en viñetas.
       El primer comic, como se conocen actualmente, fue "The Yellow Kid", publicado en 1896 en un periodico de Nueva York.
       Y en 1938 se publica Action Comics n.°1, donde Superman hace su debut y por eso es considerado como el primer comic de superhéroes.</p>    
</div>

<div class="img">
    <img src="../../assets/img/YellowKid.jpeg" alt="">
    <img src="../../assets/img/Action_Comics_1.jpg" alt="">
</div>
