<h1>Comics destacados</h1>

<div class="card">
    <h5 class="card-header">DCeased</h5>
    <div class="card-body">
      <h5 class="card-title">Escrito por: Tom Taylor</h5>
      <div class="body">
        <p class="card-text">Un misterioso techno-virus ha sido liberado en la Tierra, volviendo a todos los afectados en motores violentos y monstruosos de destruccion. Nuestros heroes se encuentran desprevenidos y muchos caen bajo la influencia del virus. </p>
        <img src="../../assets/img/dceased.jpg" alt="">
      </div>
    </div>
</div>

<div class="card">
    <h5 class="card-header">Deadpool kills the Marvel Universe</h5>
    <div class="card-body">
      <h5 class="card-title">Escrito por: Cullen Bunn</h5>
      <div class="body">
        <img src="../../assets/img/deadpool.jpg" alt="">
        <p class="card-text">Que pasa cuando un grupo de villanos manipulan a Deadpool para que se deje llevar por sus instintos asesinos y lo lleva a matar a cualquiera que se encuentre, esto incluyendo todo heroe en el universo de Marvel.</p>
      </div>
    </div>
</div>

<div class="card">
    <h5 class="card-header">Dark Night: Metal</h5>
    <div class="card-body">
      <h5 class="card-title">Escrito por: Scott Snyder</h5>
      <div class="body">
        <p class="card-text">Esta historia sigue al vigilante encapuchado en su busqueda por respuestas al descubrir la existencia de un multiverso oscuro debajo del multiverso principal de DC. De este multiverso oscuro escapan siete versiones malvadas de Batman al servicio del dios Barbatos, con el proposito de desatar la misma ocuridad que plaga el multiverso oscuro en todas las otras Tierras.</p>
        <img src="../../assets/img/metal.jpg" alt="">
      </div>
    </div>
</div>